body {
  background-color: #f9f9f9;
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
}
.notification {
  color: #65bf68;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.error {
  color: #ba4c4c;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}
